$navbar-border-radius: 0px;
$ui-border-radius: 3px;
$navbar-height: 48px;
$brand-default: lighten($brand-primary, 30);
$brand-inverse: #23405e;
$brand-disabled: #bdc3c7;
$brand-paneltext: white;

$slider-color: $brand-primary;