$link: #058583;
$error: #b94a48;
$header:#59ACFF;

$flatui-primary: #1abc9c;
$flatui-warning: #f1c40f;
$flatui-default: #bdc3c7;
$flatui-danger: #e74c3c;
$flatui-success: #2ecc71;
$flatui-inverse: #34495e;
$flatui-info: #3498db;
$flatui-disabled: #bdc3c7;
$flatui-paneltext: white;

$ui-border-radius: 0px;

@mixin panelColor($color){
    border-color: $color;
    .panel-heading{
        background-color: $color;
        border-color: $color;
    }
}

@mixin alertColor($color){
    border-color: $color;
    background-color: $color;
    border-color: $color;
	span{
		font-weight: bold;
		color: white;
	}
}

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.pad1h {padding-right: 1px; padding-left: 1px;}
.pad2h {padding-right: 2px; padding-left: 2px;}
.pad5h {padding-right: 5px; padding-left: 5px;}
.pad7h {padding-right: 7px; padding-left: 7px;}
.pad10h {padding-right: 10px; padding-left: 10px;}
.pad15h {padding-right: 15px; padding-left: 15px;}
.pad30h {padding-right: 30px; padding-left: 30px;}

.pad1v {padding-top: 1px; padding-bottom: 1px;}
.pad2v {padding-top: 2px; padding-bottom: 2px;}
.pad5v {padding-top: 5px; padding-bottom: 5px;}
.pad7v {padding-top: 7px; padding-bottom: 7px;}
.pad10v {padding-top: 10px; padding-bottom: 10px;}
.pad15v {padding-top: 15px; padding-bottom: 15px;}
.pad30h {padding-top: 30px; padding-bottom: 30px;}

/*---------------------------------FLATUI EXTENSIONS
    */
.col-centered{
    float: none;
    margin: 0 auto;
}

.panel{
    @if $ui-border-radius>0 { border-radius: $ui-border-radius+2;  }
    @else {border-radius: $ui-border-radius};
    .panel-heading{
        color: white;
        border-radius: $ui-border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.panel-primary{@include panelColor($flatui-primary);}
.panel-warning{@include panelColor($flatui-warning);}
.panel-default{@include panelColor($flatui-default);}
.panel-danger{@include panelColor($flatui-danger);}
.panel-success{@include panelColor($flatui-success);}
.panel-inverse{@include panelColor($flatui-inverse);}
.panel-info{@include panelColor($flatui-info);}
.panel-disabled{@include panelColor($flatui-disabled);}

.alert{
	border-radius: $ui-border-radius;	
}
.alert-primary{@include alertColor($flatui-primary);}
.alert-warning{@include alertColor($flatui-warning);}
.alert-default{@include alertColor($flatui-default);}
.alert-danger{@include alertColor($flatui-danger);}
.alert-success{@include alertColor($flatui-success);}
.alert-inverse{@include alertColor($flatui-inverse);}
.alert-info{@include alertColor($flatui-info);}
.alert-disabled{@include alertColor($flatui-disabled);}

.btn{
    border-radius: $ui-border-radius;
}

.btn-A{background-color: #c1272d; color: white;}
.btn-B{background-color: #009245; color: white;}
.btn-C{background-color: #2091dc; color: white;}
.btn-D{background-color: #03070f; color: white;}
.btn-E{background-color: #f7931e; color: white;}
.btn-F{background-color: #aF00aF; color: white;}
.btn-G{background-color: #5E9AC4; color: white;}
.btn-H{background-color: #FFE25C; color: black;}

.navbar{
    border-radius: $ui-border-radius;
}