{
	"departments":[
	{"extension":"test","longName":"Test","passwordMD5":"098f6bcd4621d373cade4e832627b4f6"},
	{"extension":"test2","longName":"Test2","passwordMD5":"ad0234829205b9033196ba818f7a872b"}
	]
}