extends layout
	
block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-pencil.pad10h
					|UCT QuickPoll
	.container
		#howtoPanel.panel.panel-primary
			.panel-heading How to use
				
