doctype html
html
	head
		title= "UCT QuickPoll"
		link(rel='stylesheet', href='/css/sitestyle.css')
		link(rel='stylesheet', href='/css/bootstrap-slider.min.css')
		script(src='/js/lib/jquery/jquery-1.11.3.min.js')
		script(src='/js/lib/bootstrap/bootstrap.min.js')
		script(src='/js/util/bootstrap-slider.min.js')
		script(src='/socket.io/socket.io.js')
		block headerScripts
		<meta name="viewport" content="width=device-width, initial-scale=1">
	body(class="ui-mobile-viewport ui-overlay-c")
		block content