extends layout
block headerScripts
	script(src='/lecturer.js')
	
block content
	div#page1(data-role='page')
		div(data-theme='a',data-role='header')
			h3 Realtime Polling (Lecturer View)
		div(data-role='content')
			textarea#chatBox(cols="40", rows="8")
			a#btnNewPoll(data-role='button') Create new poll
			include lecturerPopups
		