#popupPoll(href="#popupPoll", data-role='popup', data-transition="flow", data-position-to='#btnNewPoll', class='ui-content', style='max-width:280px')	
	p
		input#pollName(placeholder="Poll Name")
		label(for='sliderNumoptions') How many options:
		input#sliderNumoptions(type='range', name='sliderNumoptions', value='4', min='2', max='5', data-highlight="true")		
		a#btnAcceptPoll(data-role='button',data-mini="true",data-theme="b", onclick="CreatePoll();") Create
		a#btnCancelPoll(data-role="button", data-theme="e", data-transition="fade", data-mini="true", onclick="$('#popupPoll').popup('close');") Cancel

#popupAuth(href="#popupAuth", data-role='popup', data-dismissible="false", data-transition='flow', class='ui-content', style='max-width:280px')
	p
		input#password(type="password",placeholder="Password")
		a#btnLogin(data-role='button',data-theme="b",data-mini="true")
			|Login
		a#authError(class="ui-body ui-body-e", align="center")
				|Authentication error