extends layout
block headerScripts
	script(src='/student.js')
	
block content
	div#page1(data-role='page')
		div(data-theme='a',data-role='header')
			h3 Realtime Polling
		div(data-role='content')
			div#poll
		