extends layout
block headerScripts	
	script(src='/student.js')
	script.
		room="#{room}";
block content
	div(class='navbar navbar-default', role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span(class='glyphicon glyphicon-pencil pad10h')
					|UCT QuickPoll
	.container
		.row
			.col-xs-12
				#pollPanel(class='panel panel-primary', style='display:none')
					.panel-heading
						h3.panel-title
							span#pollHeading
								No Poll
					.panel-body
						div#poll
		.row
			.col-xs-12
				#alertStudentWaiting(class='alert alert-info', role='alert', style='display:none')
					span(class='glyphicon glyphicon-time pad7h')
					span
						|Waiting for a new poll
				#alertStudentSubmitted(class='alert alert-success', role='alert', style='display:none')
					span(class='glyphicon glyphicon-ok pad7h')
					span
						|Successfully submitted poll 
					span#pollName
						|Test
				#alertStudentError(class='alert alert-danger', role='alert', style='display:none')
					span(class='glyphicon glyphicon-remove pad7h')
					span
						|Error submitting poll 
					span#pollNameError
						|Test
					span#pollErrorDetails