#popupStudentError(data-role='popup', data-position-to='#pollCollapsible', data-transition='fade', class='ui-content', style='max-width:280px')
	a.ui-btn-right(href='#', data-rel='back', data-role='button', data-theme='a', data-icon='delete', data-iconpos='notext') Close
	p
		div#popupStudentErrorMessage
			Error